body {
    margin: 0 auto;
    background-color: #000000EF;
    color: white;
    /* font-family:monospace; */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #2b2b2bef;
}

.content {
    padding: 50px;
}
/* 
#input {
    padding: 10;
    background-color: "inherit";
    color: "white";
    border: 3 white;
} */

.alert-hidden {
    opacity: 0;
    transition: all 250ms linear 2s;
  }




  .task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .task.reminder {
    border-left: 5px solid green;
  }
  
  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .add-form {
    margin-bottom: 40px;
  }
  
  .form-control {
    margin: 20px 0;
  }
  
  .form-control label {
    display: block;
  }
  
  .form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
  
  .form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .form-control-check label {
    flex: 1;
  }
  
  /* .form-control-check input {
    flex: 2;
  } */
  
  input[type="checkbox"] {
    flex: 1;
    width: 20px;
    height: 20px;
  }
  
  footer {
    margin-top: 30px;
    text-align: center;
  }

  .planet-name::before {
    content: "name: ";
    color: rgb(125, 132, 163);
  }
  
  .planet {
    padding-top: 40px;
  }

  .grid {
    background-color: red;
    margin: 100px;
    padding: 100px;
    border: 50px solid white;
  }
